*    oleg.nabiullin@intel.com dmitry.ermilov@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**                          dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/shared/**                                  dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/core/**                         dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/shared/umc/io/**                           dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/cmrt_cross_platform/**             dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com
/_studio/mfx_lib/scheduler/**                       dmitry.gurulev@intel.com miroslav.goncharenko@intel.com evgeniy.starov@intel.com dmitry.ermilov@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 sergey.a.osipov@intel.com leonid.a.kulakov@intel.com denis.volkov@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com jeremy.shang@intel.com vitaliy.ilichev@intel.com yuri.skuridin@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      ekaterina.shiryaeva.alexandrovna@intel.com anastasiia.sokolova@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  timofei.a.kulakov@intel.com olga.golikova@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com
/_studio/shared/include/mfxenctools-int.h           timofei.a.kulakov@intel.com olga.golikova@intel.com

# samples:
/samples/                                           sofya.balandina@intel.com
